//
//  InnovationEngineConfig-Example.xcconfig
//  PodTester
//
//  Created by Fred on 25.12.22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// Hack because xcconfig files do no support double slashes
SLASH = /
SLASH_SLASH = $(SLASH)$(SLASH)

// Configuration of the Innovation engine
NVTNCLB_LOADER_SERVER = https:$(SLASH_SLASH)your-instance.innovation-club.net
NVTNCLB_ENVIRONMENT = dev
NVTNCLB_TIMEOUT = 500

// Example screen ID
SAMPLE_SCREEN_ID = demo


// (optional, only during development phase) forces a specific experiment to be returned.
FORCE_EXPERIMENT_ID =
// (optional, only during development phase) forces a specific treatment to be returned. ONLY in combination with FORCE_EXPERIMENT_ID
FORCE_TREATMENT_UUID =
