<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NVTNCLB_ENVIRONMENT</key>
	<string>$(NVTNCLB_ENVIRONMENT)</string>
	<key>NVTNCLB_LOADER_SERVER</key>
	<string>$(NVTNCLB_LOADER_SERVER)</string>
	<key>NVTNCLB_TIMEOUT</key>
	<string>$(NVTNCLB_TIMEOUT)</string>
</dict>
</plist>
